<!-- <h1 class="font-bold text-red-500 text-5xl my-10">Home Page</h1>
<li><a routerLink="/wishlist" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-blue-600 font-bold">Wishlist</a></li>
<li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-blue-600 font-bold">Login</a></li> -->
<div
  id="home"
  (scroll)="showElement($event)"
  (click)="resetDestination()"
  class="relative overflow-scroll h-screen"
>
  <!-- mobile view header -->
  <div
    class="fixed z-40 w-full shadow-sm bg-white shadow-stone-100 top-0 xl:hidden"
  >
    <div class="flex justify-evenly py-3 px-5 items-center mt-1 xl:hidden">
      <!-- search box -->
      <div
        class="w-[80%] rounded-full border border-stone-100 bg-white shadow-md shadow-stone-200 p-2 flex items-center gap-1"
      >
        <div
          class="size-10 rounded-full bg-white flex items-center justify-center"
        >
          <img src="../../assets/images/searchicon.png" />
        </div>
        <div>
          <p class="text-sm font-medium">Anywhere</p>
          <p class="text-xs text-slate-700 font-light">Any week . Add guests</p>
        </div>
      </div>
      <!-- rounded filter -->
      <div class="w-[20%] bg-yellow-40 flex items-center justify-center">
        <div
          class="max-w-10 w-2/3 aspect-square rounded-full border border-stone-300 bg-white flex items-center justify-center"
        >
          <img src="../../assets/images/filtericon.png" class="size-5" />
        </div>
      </div>
    </div>
    <!-- list items scroll container mobile -->
    <ul class="bg-red-40">
      <swiper-container
        slides-per-view="6"
        space-between="60"
        speed="500"
        css-mode="true"
        class="mobileSwiper"
      >
        <swiper-slide class="mx-2">
          <div
            id="all"
            (click)="filterViews('all')"
            class="group relative w-24 bg-blue-30 pb-3 flex flex-col justify-center items-center"
          >
            <div
              [ngClass]="{ hidden: !(activeViews === 'all') }"
              class="absolute z-10 bottom-0 w-[50%] left-[25%] h-[2px] bg-black"
            ></div>
            <div
              class="hidden group-hover:block absolute transition-all slow-resize bottom-0 w-[50%] left-[25%] h-[2px] bg-slate-300"
            ></div>
            <div
              class="size-8 bg-red-20 rounded-full flex items-center justify-center"
            >
              <!-- <img src="{{i.icon}}" class="size-6" /> -->
            </div>
            <p
              [ngClass]="{ 'text-slate-950 font-bold': activeViews === 'all' }"
              class="text-xs font-medium text-slate-500 group-hover:text-slate-950 group-hover:font-medium"
            >
              All
            </p>
          </div>
        </swiper-slide>
        @for (i of views; track i) {
        <swiper-slide class="mx-2">
          <div
            id="{{ i }}"
            (click)="filterViews(i.text)"
            class="group relative w-24 bg-blue-30 pb-3 flex flex-col justify-center items-center"
          >
            <div
              [ngClass]="{ 'hidden ': !(activeViews === i.text) }"
              class="absolute z-10 transition-all slow-resize bottom-0 w-[50%] left-[25%] h-[2px] bg-black"
            ></div>
            <div
              class="hidden group-hover:block absolute transition-all slow-resize bottom-0 w-[50%] left-[25%] h-[2px] bg-slate-300"
            ></div>
            <div
              class="relative size-8 bg-red-20 rounded-full flex items-center justify-center"
            >
              <!-- white image layer -->
              <div
                [ngClass]="{ hidden: activeViews === i.text }"
                class="transition-all slow-resize absolute size-full bg-white rounded-full bg-opacity-50 group-hover:hidden"
              ></div>
              <img src="{{ i.icon }}" class="size-5" />
            </div>
            <p
              [ngClass]="{ 'text-slate-950 font-bold': activeViews === i.text }"
              class="text-xs font-medium text-slate-500 group-hover:text-slate-950 group-hover:font-medium"
            >
              {{ i.text }}
            </p>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </ul>
  </div>

  <!-- desktop view header -->
  <div
    class="fixed z-40 transition-all w-full bg-white top-0 py-5 px-10 xl:px-5 xl:pt-0 xl:pb-0 hidden xl:block"
  >
    <!-- AirBNB logo: left -->
    <div class="float-left bg-blue-60 h-16 flex items-center justify-center">
      <img
        src="../../assets/images/airbnb.png"
        alt="logo"
        class="w-32 h-14 object-cover bg-red-300"
      />
    </div>
    <!-- Web - AirBNB your home: right -->
    <div class="float-right bg-blue-60 h-16 flex items-center justify-center">
      <div class="float-right bg-blue-60 flex gap-3 items-center">
        <div>
          <a class="text-base font-medium">Airbnb your home</a>
        </div>
        <div
          class="size-5 rounded-full bg-red-40 flex items-center justify-center"
        >
          <img src="../../assets/images/webicon.png" />
        </div>
        <div
          class="w-20 aspect-video rounded-full border border-slate-300 hover:shadow-md shadow-slate-300 flex items-center justify-center gap-2"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              viewBox="0 -960 960 960"
              width="20"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              />
            </svg>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="30"
              viewBox="0 -960 960 960"
              width="30"
              fill="#a1a1a1"
            >
              <path
                d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- middle locations: middle -->
    <!-- [ngClass]="{ 'w-[30%] h-12 top-0 relative': !showBottomNav }" -->
    <div
      class="relative h- transition-all slow-resize w-2/3 mx-auto space-y-0 bg-transparent hidde pt-5"
    >
      <!-- locations items links-->
      <div
        [ngClass]="{ hidden: !showBottomNav }"
        class="h-10 w-2/3 mx-auto bg-green-40 flex justify-center items-center gap-1"
      >
        <div
          (click)="location = 'stays'"
          [ngClass]="{ 'font-medium text-slate-950': location === 'stays' }"
          class="px-4 py-2 hover:bg-slate-300 hover:bg-opacity-15 hover:text-slate-700 rounded-full text-slate-400"
        >
          <p class="text-sm">Stays</p>
        </div>
        <div
          (click)="location = 'experiences'"
          [ngClass]="{
            'font-medium text-slate-950': location === 'experiences'
          }"
          class="px-4 py-2 hover:bg-slate-300 hover:bg-opacity-15 hover:text-slate-700 rounded-full text-slate-400"
        >
          <p class="text-sm">Experiences</p>
        </div>
        <div
          (click)="location = 'online experiences'"
          [ngClass]="{
            'font-medium text-slate-950': location === 'online experiences'
          }"
          class="px-4 py-2 hover:bg-slate-300 hover:bg-opacity-15 hover:text-slate-700 rounded-full text-slate-400"
        >
          <p class="text-sm">Online Experiences</p>
        </div>
      </div>
      <!-- location collapsible search bar -->
      <div
        [ngClass]="{
          'w-20 bg-transparent slow-resize absolute aspect-video top-0 h-10 border-none shadow-none rounded-none':
            !showBottomNav
        }"
        [ngClass]="{
          'bg-stone-500 bg-opacity-10 bg-transparent': destinationActive
        }"
        class="h-16 w-full bg-transparent overflow-hidden mx-auto rounded-full border border-slate-200 shadow-md shadow-slate-200 flex"
      >
        @if (showBottomNav) {
        <div
          (click)="setDestination($event, 'where')"
          id="where"
          [ngClass]="{
            'bg-white hover:bg-stone-50 z-20 ': destination === 'where'
          }"
          [ngClass]="{
            'hover:bg-gray-500 rounded-none hover:rounded-r-full hover:bg-opacity-10 extend-right':
              destinationActive && destination === 'check-in'
          }"
          class="relative w-[30%] hover:bg-stone-500 hover:bg-opacity-15 rounded-full h-full px-8 py-2 flex flex-col items-start justify-center"
        >
          <p class="text-slate-900 text-xs font-medium">Where</p>
          <div>
            @if (destination === "where") {
            <input
              autofocus
              placeholder="Search destinationsp"
              class="outline-none bg-transparent placeholder:text-sm placeholder:font-normal placeholder:text-slate-400"
            />
            } @else {
            <p class="text-slate-400 text-sm font-normal">
              Search destinations
            </p>
            }
          </div>
        </div>
        <div
          (click)="setDestination($event, 'check-in')"
          id="check-in"
          [ngClass]="{
            'bg-white hover:bg-stone-50 z-20 ': destination === 'check-in'
          }"
          [ngClass]="{
            'hover:bg-gray-500 rounded-none hover:rounded-r-full hover:bg-opacity-10 extend-left':
              destinationActive && destination === 'where'
          }"
          class="relative w-[20%] hover:bg-stone-100 rounded-full h-full px-5 py-2 flex flex-col items-start justify-center"
        >
          <p class="text-slate-900 text-xs font-medium">Check in</p>
          <p class="text-slate-400 text-sm font-normal">Add dates</p>
        </div>
        <div
          (click)="setDestination($event, 'check-out')"
          id="check-out"
          [ngClass]="{ 'bg-red-400': destination === 'check-out' }"
          [ngClass]="{
            'hover:bg-stone-500 hover:bg-opacity-10 rounded-full':
              !destinationActive
          }"
          class="w-[20%] h-full hover:rounded-full hover:bg-slate-300 hover:bg-opacity-35 px-5 py-2 flex flex-col items-start justify-center"
        >
          <p class="text-slate-900 text-xs font-medium">Check out</p>
          <p class="text-slate-400 text-sm font-normal">Add dates</p>
        </div>
        <div
          (click)="setDestination($event, 'who')"
          [ngClass]="{ 'bg-red-400': destination === 'who' }"
          [ngClass]="{
            'hover:bg-stone-500 hover:bg-opacity-10 rounded-full':
              !destinationActive
          }"
          class="w-[30%] h-full hover:rounded-full hover:bg-slate-300 hover:bg-opacity-35 pl-8 pr-2 py-2 flex items-center justify-between"
        >
          <div>
            <p class="text-slate-900 text-xs font-medium">Who</p>
            <p class="text-slate-400 text-sm font-normal">Add guestd</p>
          </div>
          <div
            class="h-full aspect-square rounded-full bg-[#ff385c] flex items-center justify-center"
          >
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#FFFFFF"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                />
              </svg>
            </div>
          </div>
        </div>
        } @else {
        <div
          class="absolute flex items-center justify-center top-2 w-[40%] left-[30%] slow-resize"
        >
          <div
            class="flex items-center p-2 w-full border border-stone-300 rounded-full shadow-sm shadow-slate-200 text-sm"
          >
            <div class="w-[30%] bg-red-40">
              <p class="text-center">Any where</p>
            </div>
            <div class="w-[30%] bg-red-60">
              <p class="text-center">Any week</p>
            </div>
            <div class="flex gap-3 justify-end items-center w-[40%] bg-red-80">
              <p>Any guest</p>
              <div
                class="size-7 bg-[#ff385c] rounded-full flex items-center justify-center"
              >
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="18px"
                    viewBox="0 0 24 20"
                    width="18px"
                    fill="#FFFFFF"
                  >
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div
      [ngClass]="{ '-mt-5': !showBottomNav }"
      class="relative px-5 xl:pl-5 xl:pr-10 py-2 border-t border-slate-200 w-full mt-5 flex justify-between items-center shadow-sm shadow-slate-300"
    >
      <!-- scrollable location items -->
      <div id="items" class="relative w-[73%] h-full bg-red-30">
        <div
          (click)="swipe('prev')"
          [ngClass]="{ hidden: showPrevBtn === 0 }"
          class="top-0 z-10 absolute h-full aspect-square rounded-full bg-white bg-opacity-90 flex items-center justify-center"
        >
          <div
            class="size-7 rounded-full bg-white border border-gray-400 flex items-center justify-center"
          >
            <img src="../../assets/images/backicon.png" class="size-5" />
          </div>
        </div>
        <div
          (click)="swipe('next')"
          class="top-0 z-10 absolute h-full aspect-square right-0 rounded-full bg-white bg-opacity-90 flex items-center justify-center"
        >
          <div
            class="size-7 rounded-full bg-white border border-gray-400 flex items-center justify-center"
          >
            <img
              src="../../assets/images/fronticon.png"
              class="size-5 bg-red-40 flex items-center justify-center"
            />
          </div>
        </div>
        <swiper-container
          slides-per-view="10"
          speed="500"
          css-mode="true"
          class="ola bg-yellow"
        >
          <swiper-slide class="">
            <div
              id="all"
              (click)="filterViews('all')"
              class="relative w-24 bg-blue-30 pb-3 flex flex-col justify-center items-center"
            >
              <div
                [ngClass]="{ hidden: !(activeViews === 'all') }"
                class="absolute bottom-0 w-[50%] left-[25%] h-[2px] bg-black"
              ></div>
              <div
                class="size-10 bg-red-20 rounded-full flex items-center justify-center"
              >
                <!-- <img src="{{i.icon}}" class="size-6" /> -->
              </div>
              <p
                [ngClass]="{
                  'text-slate-950 font-bold': activeViews === 'all'
                }"
                class="text-xs font-medium bg-red-30 text-slate-500"
              >
                All
              </p>
            </div>
          </swiper-slide>
          @for (i of views; track i) {
          <swiper-slide class="bg-red-30">
            <div
              id="{{ i }}"
              (click)="filterViews(i.text)"
              class="group relative w- bg-blue-30 pb-3 flex flex-col justify-center items-center"
            >
              <div
                [ngClass]="{ hidden: !(activeViews === i.text) }"
                class="absolute bottom-0 w-[50%] left-[25%] h-[2px] bg-black"
              ></div>
              <div
                class="hidden group-hover:block absolute transition-all slow-resize bottom-0 w-[50%] left-[25%] h-[2px] bg-slate-300"
              ></div>
              <div
                class="relative size-10 bg-red-20 rounded-full flex items-center justify-center"
              >
                <!-- inactive state icon cover  -->
                <div
                  [ngClass]="{ hidden: activeViews === i.text }"
                  class="absolute size-full bg-white rounded-full bg-opacity-50 group-hover:hidden"
                ></div>
                <img src="{{ i.icon }}" class="size-6" />
              </div>
              <p
                [ngClass]="{
                  'text-slate-950 font-bold': activeViews === i.text
                }"
                class="text-xs font-medium text-slate-500 group-hover:text-slate-950 group-hover:font-medium"
              >
                {{ i.text }}
              </p>
            </div>
          </swiper-slide>
          }
        </swiper-container>
      </div>
      <div class="w-[25%] h-full bg-red-40 flex justify-between">
        <div
          class="relative cursor-pointer transition-all group w-[25%] h-12 border rounded-xl hover:border-black flex items-center justify-center"
        >
          <div
            class="hidden transition-all group-hover:block absolute w-full h-full rounded-xl bg-black bg-opacity-5"
          ></div>
          <div
            class="h-1/2 aspect-square rounded-full flex items-center justify-center gap-2"
          >
            <img src="../../assets/images/filtericon.png" class="size-4" />
          </div>
          <p class="text-xs font-medium text-black">Filters</p>
        </div>
        <div
          (click)="beforeTaxes = !beforeTaxes"
          class="relative cursor-pointer transition-all group w-[70%] h-12 border hover:border-black rounded-xl flex items-center justify-center bg-green-40"
        >
          <div
            class="hidden transition-all group-hover:block absolute w-full h-full rounded-xl bg-black bg-opacity-5"
          ></div>
          <div
            class="w-full h-full p-3 flex justify-between items-center bg-red-40"
          >
            <div class="space-y-1">
              <p class="text-xs font-medium text-black">
                Display total before taxes
              </p>
            </div>
            <!-- toggle switch -->
            <div
              [ngClass]="{ 'bg-stone-400': !beforeTaxes }"
              class="relative w-9 h-6 bg-black rounded-full"
            >
              <div
                [ngClass]="{ 'right-0 border-slate-950': beforeTaxes }"
                class="transition-all slow-resize absolute h-full aspect-square rounded-full bg-white border-2 border-stone-400 flex items-center justify-center"
              >
                <div
                  *ngIf="beforeTaxes"
                  class="size-5 rounded-full bg-red-40 flex items-center justify-center"
                >
                  <img src="../../assets/images/doneicon.png" class="size-3" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile view bottom nav bar -->
  <div
    [ngClass]="{ '-bottom-16': !showBottomNav }"
    class="xl:hidden slow-resize fixed z-40 w-full bottom-0 transition-all"
  >
    <div
      [ngClass]="{ hidden: hideMore }"
      class="h-10 w-20 mx-auto my-5 rounded-full bg-black flex items-center justify-center"
    >
      <p class="text-slate-50 text-sm">Map</p>
      <div>
        <img src="../../assets/images/mapicon.png" />
      </div>
    </div>
    <div
      class="h-16 bg-white border-t-2 border-slate-200 w-full flex gap-10 justify-center items-center"
    >
      <div class="size-10 bg-red-40 flex items-center justify-center">
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="text-blue-600 font-bold flex flex-col items-center justify-center"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#E81948"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              />
            </svg>
          </div>

          <span class="text-xs font-medium text-[#E81948]">Explore</span>
        </a>
      </div>
      <div class="size-10 bg-red-40 flex items-center justify-center">
        <a
          routerLink="/wishlist"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="text-blue-600 font-bold flex flex-col items-center justify-center"
        >
          <div class="bg-gray-30">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 24px;
                width: 24px;
                stroke: rgba(0, 0, 0, 0.5);
                stroke-width: 2;
                overflow: visible;
              "
            >
              <path
                d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
              ></path>
            </svg>
          </div>
          <span class="text-xs font-medium text-slate-400">Wishlists</span>
        </a>
      </div>
      <div class="size-10 bg-red-40 flex items-center justify-center">
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="text-blue-600 font-bold flex flex-col items-center justify-center"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              enable-background="new 0 0 24 24"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#a1a1a1"
            >
              <g><rect fill="none" height="24" width="24" /></g>
              <g>
                <g>
                  <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.35 18.5C8.66 17.56 10.26 17 12 17s3.34.56 4.65 1.5c-1.31.94-2.91 1.5-4.65 1.5s-3.34-.56-4.65-1.5zm10.79-1.38C16.45 15.8 14.32 15 12 15s-4.45.8-6.14 2.12C4.7 15.73 4 13.95 4 12c0-4.42 3.58-8 8-8s8 3.58 8 8c0 1.95-.7 3.73-1.86 5.12z"
                  />
                  <path
                    d="M12 6c-1.93 0-3.5 1.57-3.5 3.5S10.07 13 12 13s3.5-1.57 3.5-3.5S13.93 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z"
                  />
                </g>
              </g>
            </svg>
          </div>
          <span class="text-xs font-medium text-slate-400">Log In</span>
        </a>
      </div>
    </div>
  </div>

  <!-- desktop view hide more -->
  <div
    class="hidden xl:block fixed z-40 w-full bg-red-80 bottom-0 transition-all"
  >
    <div
      class="h-12 w-32 mx-auto my-5 rounded-full bg-gray-900 hover:scale-105"
    ></div>
  </div>

  <!-- main scrollable content -->
  <div id="track" class="bg-white pt-[10.5rem] xl:pt-64">
    <!-- taxes toggle -->
    <div
      (click)="beforeTaxes = !beforeTaxes"
      class="xl:hidden w-[90%] mx-auto rounded-xl border border-stone-200 p-3 flex justify-between items-center mb-5"
    >
      <div class="space-y-1">
        <p class="text-sm font-medium text-gray-700">Display total price</p>
        <p class="text-sm text-slate-400 font-normal">
          Include all fees, before taxes
        </p>
      </div>
      <!-- toggle switch -->
      <div
        [ngClass]="{ 'bg-stone-300': !beforeTaxes }"
        class="relative w-12 h-8 bg-black rounded-full"
      >
        <div
          [ngClass]="{ 'left-4 border-gray-950': beforeTaxes }"
          class="transition-all slow-resize absolute left-0 h-full aspect-square rounded-full bg-white border-2 border-stone-300 flex items-center justify-center"
        >
          <div *ngIf="beforeTaxes" class="size-5 rounded-full bg-red-40">
            <img src="../../assets/images/doneicon.png" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-wrap justify-between space-y-14 xl:space-y-0 xl:px-10 xl:gap-y-16"
    >
      @for (house of houseListings; track house) {
      <div
        class="w-[90%] xl:w-[23%] xl:aspect-square xl:h-auto mx-auto rounded-xl font-bold text-xl"
      >
        <!-- id: {{$index}}
                count: {{$count}}
                first : {{$first}}
                last: {{$last}}
                even: {{$even}}
                odd: {{$odd}} -->
        <app-houseitem
          (housedetails)="roomNavigate($event)"
          [house]="house"
          [houseId]="house.houseId"
          [beforeTaxes]="beforeTaxes"
        ></app-houseitem>
      </div>
      }
    </div>
    <div class="w-full h-20 bg-red-40 mt-10 mb-20">
      <hr class="w-[90%] mx-auto bg-slate-500" />
      <p class="mt-10 mb-5 font-bold text-center">
        Continue exploring new homes
      </p>
      <div class="flex justify-center bg-red-40">
        <button class="px-4 py-2 bg-black text-slate-200 rounded-md text-base">
          Show more
        </button>
      </div>
    </div>
  </div>
  <div
    id="footer"
    class="relative z-50 w-full h-40 bg-stone-100 text-center text-sm space-y-3 py-5 px-2"
  >
    <p class="text-slate-400">
      AirBNB Homepage features and functionalities clone.
    </p>
    <p class="text-slate-500">
      Developed by
      <a
        href="https://olalekan-oladimeji-portfolio.vercel.app"
        target="_blank"
        class="text-blue-600 underline underline-offset-2"
        >Olalekan Oladimeji</a
      >
    </p>
    <p class="font-medium">&#169; {{ 2024 }}. All Rights Reserved.</p>
  </div>
</div>
