<div (scroll)="reveal($event)" id="room" class="relative pb-20 h-full bg-green-40 overflow-scroll">
  <!-- secondary scoll-point desktop header -->
  <div *ngIf="secHeader" class="hidden transition-all xl:flex gap-5 w-full bg-white border-b border-slate-200 sticky top-0 z-30 px-20">
    @for (item of ["Photos", "Amenities", "Reviews", "Location"]; track item) {
      <div class="group relative py-7">
        <div class="absolute z-10 w-full h-1 bottom-0 bg-gray-950 hidden group-hover:block transition-all"></div>
        <p class="text-sm text-slate-700 font-medium">{{item}}</p>
      </div>
    }

  </div>
  <!-- see more component  -->
  <div [ngClass]="{'h-[100%] py-10': showMore}" class="fixed bg-white left-0 right-0 rounded-t-3xl transition-all bottom-0 h-1 z-50 px-5">
    <div (click)="showMore = false" class="size-8 rounded-full bg-red-400"></div>
    <div class="mt-5 space-y-5">
      <h2 class="text-2xl font-medium">About this space</h2>
      <p class="text-slate-600 leading-7"> Welcome to AirBNB (clone) built by Olalekan Oladimeji. It was built using Angular, TypeScript and Tailwind CSS.
        <br /><br/>This project started off as a friendly and healthy competition between I and my Dev friends until I took it too far and personal and decided to surpass my limit with this project.
        <br /><br/>This is my first project built with Angular. I am a React Dev who is trying to learn Angular. My ReactJS skills is a solid 7/10 to be fair.</p>
    </div>
  </div>
  <!-- fixed bottom component -> Reserve. -->
  <div class="xl:hidden fixed z-20 bottom-0 w-full bg-white border-t border-slate-200 flex justify-between items-center p-5">
    <div>
        <p>{{room.pricing.priceAfterTax}} night</p>
        <p>Sep 9 - 14</p>
    </div>
    <div>
        <button  class="w-36 py-3 bg-pink-600 text-white rounded-lg">Reserve</button>
    </div>
  </div>
  <div class="hidden py-2 px-20 xl:flex justify-between items-center bg-green-40 border border-slate-200">
    <div class="float-left bg-blue-60 h-16 flex items-center justify-center">
      <img
        src="../../assets/images/airbnb.png"
        alt="logo"
        class="w-32 h-14 object-cover bg-red-30"
      />
    </div>

    <div class="relative w-full mx-auto h-10 bg-red-30">
      <div class="h-10 w-[40%] ml-[35%] flex justify-between px-2 items-center rounded-full bg-white border border-slate-300 shadow-sm shadow-slate-300">
        <div class="h-full flex items-center px-2">
          <p class="text-sm">Anywhere</p>
        </div>
        <div class="h-full flex items-center">
          <p class="text-sm">Any week</p>
        </div>
        <div class="h-full flex items-center gap-3">
          <div>
            <p class="text-sm">Add guests</p>
          </div>
          <div class="h-[70%] aspect-square rounded-full bg-[#ff385c] flex items-center justify-center">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 24 24"
                width="16px"
                fill="#FFFFFF"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Web - AirBNB your home: right -->
    <div class="float-right bg-transparent w-96 h-16 flex items-center justify-center">
      <div class="float-right bg-blue-60 flex gap-3 items-center">
        <div>
          <a class="text-base font-medium">Airbnb your home</a>
        </div>
        <div
          class="size-5 rounded-full bg-red-40 flex items-center justify-center"
        >
          <img src="../../assets/images/webicon.png" />
        </div>
        <div
          class="w-20 aspect-video rounded-full border border-slate-300 hover:shadow-md shadow-slate-300"
        ></div>
      </div>
    </div>
    
  </div>
  <div class="relative w-full h-60 xl:h-auto bg-slate-60 xl:px-28">
    
    <!--mobile circle top 3 nav -->
    <div class="xl:hidden absolute z-10 top-3 px-3 w-full h-8 flex justify-between">
      <div (click)="back()" class="size-8 rounded-full bg-white flex items-center justify-center">
        <img src="../../assets/images/backicon.png" />
      </div>
      <div class="flex gap-3">
        <div class="size-8 rounded-full bg-white flex items-center justify-center">
          <img src="../../assets/images/uploadicon.png" />
        </div>
        <div class="size-8 rounded-full bg-white flex items-center justify-center">
          <img src="../../assets/images/hearticon.png" class="size-5"/>
        </div>
      </div>
    </div>
    <div class="hidden xl:flex justify-between items-end py-5 text-3xl">
      <p class="text-3xl">{{room.views}}</p>
      <div class="flex gap-5">
        <div class="flex items-center gap-2">
          <div class="size-5 rounded-full bg-white flex items-center justify-center">
            <img src="../../assets/images/uploadicon.png" />
          </div>
          <p class="underline text-sm">Share</p>
        </div>
        <div class="flex items-center gap-2">
          <div class="size-5 rounded-full bg-white flex items-center justify-center">
            <img src="../../assets/images/hearticon.png" class="size-5"/>
          </div>
          <p class="underline text-sm">Save</p>
        </div>
      </div>
    </div>
    
    <swiper-container css-mode="true" class="size-full relative xl:hidden">
      @for (photo of room.photos; track photo) {
        <swiper-slide class="">
          <img src="{{photo}}" class="size-full object-cover" />
          <p class="absolute text-white bg-black bg-opacity-80 right-2 bottom-2 py-[2px] px-3 rounded-lg">{{$index + 1}}/5 </p>
        
        </swiper-slide>
      }
    </swiper-container>


    <div class="hidden xl:flex gap-2 justify-between w-full h-80 bg-red-10 text-white rounded-xl overflow-hidden">
      <div class="relative w-1/2 h-full bg-slate-600  flex items-center justify-center group">
        <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
        <img src="{{room.photos[0]}}" class="size-full object-cover"/>
      </div>
      <div class="w-1/2 flex flex-col gap-2 justify-between  bg-red-40">
        <div class="h-1/2 w-full flex gap-2 justify-between">
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[1]}}" class="size-full object-cover"/>
          </div>
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[2]}}" class="size-full object-cover"/>
          </div>
        </div>
        <div class="h-1/2 w-full flex gap-2 justify-between">
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[3]}}" class="size-full object-cover"/>
          </div>
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[4]}}" class="size-full object-cover"/>
          </div>
        </div>
      </div>
    </div>

    
  </div>
  <div class="relative  xl:flex xl:justify-between xl:px-20">

    <!-- 1st part -->
    <div class="xl:w-[60%]">
    <!-- section1 -->
    <div class="py-6 px-5 xl:px-0 border-b border-slate-200 space-y-3">
      <h1 class="xl:hidden font-semibold text-2xl text-slate-900">
        {{room.title}}
      </h1>
      <div class="space-y-1">
        <p class="xl:text-3xl">Located in {{room.location.split(",")[0]}}</p>
        <div class="flex items-center gap-2 font-light">
          <p class="xl:text-slate-950 xl:font-light">{{room.accommodation.guests}} {{room.accommodation.guests === 1 ? "guest" : "guests" }}</p>
          <div class="size-[2px] rounded-full bg-black"></div>
          <p class="xl:text-slate-950 xl:font-light">{{room.accommodation.bedrooms}} {{room.accommodation.bedrooms === 1 ? "bedroom" : "bedrooms" }}</p>
          <div class="size-[2px] rounded-full bg-black"></div>
          <p class="xl:text-slate-950 xl:font-light">{{room.accommodation.bathrooms}} {{room.accommodation.bathrooms === 1 ? "bathroom" : "bathrooms" }}</p>
        </div>
        <!-- <p class="xl:text-slate-950 xl:font-light">{{room.accommodation.guests}} {{room.accommodation.guests === 1 ? "guest" : "guests" }} . 6 bedrooms . 8 beds . 3 baths</p> -->
        <div class="xl:font-normal flex gap-2 items-center text-sm">
          <div class="flex items-center gap-1">
            <div>
              <img src="../../assets/images/star.png" class="size-4" />
            </div>
            <p class="text-sm"> {{room.reviews.starRating}}</p>
          </div>
          <div class="w-[1px] h-3 bg-slate-700"></div>
          <p class="underline"> {{room.reviews.guestReviews.length}} {{room.reviews.guestReviews.length === 1 ? "review" : "reviews" }}</p>
         </div>
      </div>
    </div>
    <!-- section2 -->
    <div class="py-6 px-5 xl:px-0 border-b border-slate-200 flex items-center gap-5">
      <div class="size-10 bg-slate-60 rounded-full">
        <img src="../../assets/images/ola_dp.jpg" class="size-full object-cover rounded-full" />
      </div>
      <div class="space-y-1">
        <p class="font-normal">Hosted by Olalekan Oladimeji</p>
        <p class="text-sm text-slate-500">Vercel hosting</p>
      </div>
    </div>
    <!-- section3 -->
    <div class="py-6 px-5 xl:px-0 border-b border-slate-200 xl:border-transparent space-y-2">
      <div *ngFor="let items of room.houseRules" class="flex items-center gap-5">
        <div class="size-8 bg-slate-600 rounded-full"></div>
        <div class="">
          <p class="font-normal text-slate-800">{{items}}</p>
        </div>
      </div>
    </div>
    <!-- section: Meet the Host -->
    <div class="py-6 px-5 xl:px-5 bg-stone-200 bg-opacity-50 xl:rounded-3xl w-full">
      <h2 class="text-2xl font-medium text-slate-900 xl:text-center">Meet the Developer</h2>
      <div class="xl:w-2/3 xl:mx-auto flex flex-col xl:flex-row p-5 mt-5 bg-white rounded-2xl shadow-md shadow-slate-400">
        <div class="w-full flex flex-col items-center justify-center bg-red-40">
          <div class="relative">
            <div class="size-6 rounded-full bg-pink-600 absolute z-10 bottom-0 right-0"></div>
            <div class="size-24 rounded-full bg-slate-60">
              <img src="../../assets/images/ola_dp.jpg" alt="host picture" class="size-full object-cover rounded-full"/>
            </div>
          </div>
          <p class="font-medium text-lg text-slate-950">Olalekan Oladimeji</p>
          <!-- <p class="font-semibold text-2xl text-slate-900 tracking-wider ">Oladimeji</p> -->
          <div class="flex gap-1 items-center">
            <p class="font-normal text-xs text-slate-700 w-[90%] bg-red-3">*Responds swiftly</p>
            <div *ngIf="room.host.superhostStatus">
              <img src="../../assets/images/badge.png" class="size-3" />
            </div>
          </div>
         
          
        </div>
        <div class="w-full flex xl:flex-col xl:items-center items-start justify-between bg-red-20">
          <div class="py-3 w-1/3 flex flex-col items-center justify-center xl:items-start">
            <p class="text-xl font-medium text-gray-700">10+</p>
            <p class="text-xs text-slate-400">Projects</p>
          </div>
          <div class="py-3 w-1/3 flex flex-col items-center justify-center xl:items-start">
            <p class="text-xl font-medium text-gray-700">4.94</p>
            <p class="text-xs text-slate-400">Rating</p>
          </div>
          <div class="py-3 w-1/3 flex flex-col items-center justify-center xl:items-start">
            <p class="text-xl font-medium text-gray-700">2</p>
            <p class="text-xs text-slate-400">YOE</p>
          </div>
        </div>
      </div>
      <div class="font-light mt-10 space-y-3">
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="bg-green-40 w-[90%]">Born in the 2000s</p>
        </div>
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="w-[90%]"><a href="https://olalekan-oladimeji-portfolio.vercel.app" target="_blank" class="underline underline-offset-2">Portfolio Website</a></p>
        </div>
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="w-[90%]">Interests/Hobbies: Reading, Playing games, Watching Animes, Coding</p>
        </div>
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="w-[90%]">Nigerian</p>
        </div>
      </div>
    </div>
    <!-- section4 -->
    <div class="py-6 px-5 xl:px-0 border-b border-slate-200">
      <h2 class="text-2xl font-medium mb-5" >About this project</h2>
      <p class="line-clamp-6 text-slate-600 font-light leading-7">
        Welcome to AirBNB (clone) built by Olalekan Oladimeji. It was built using Angular, TypeScript and Tailwind CSS.
        This project started off as a friendly and healthy competitions between I and my Dev friends until I took it too far and personal and decided to surpass my limit with this project.
        This is my first project built with Angular. I am a React Dev who is trying to learn Angular. My ReactJS skills is a solid 7/10 to be fair.
      </p>
      <div class="mt-2">
        <p (click)="showMore = true" class="underline">Show More</p>
      </div>
    </div>
    <!-- section5 -->
    <div class="py-6 px-5 xl:px-0 border-b border-slate-200">
      <h2 class="text-2xl font-medium mb-5" >Where you'll sleep</h2>
      <div class=" w-full bg-green-40">
        <swiper-container
          slides-per-view="2"
          space-between="50"
          speed="200"
          css-mode="true"
        >
          @for (i of [1,2,3,4,5,6,7,8]; track i) {

          <swiper-slide class="">
            <div class="space-y-3">
              <div class="w-40 h-24 bg-slate-60 rounded-lg">
                <img src="../../assets/images/bedroom.jfif" class="size-full object-cover rounded-lg" />
              </div>
              <div>
                <p>Bedroom 1</p>
                <p class="text-slate-500">1 single bed</p>
              </div>
            </div>
          </swiper-slide>

          }
        </swiper-container>
      </div>
    </div>
    <!-- section6 -->
    <div class="py-6 px-5 xl:px-0 border-b border-slate-200">
      <h2 class="text-2xl font-medium">What this place offers</h2>
      <div class="space-y-3 mt-3">
        <div *ngFor="let items of room.amenities.essential" class="flex items-center gap-5">
          <div class="size-8 bg-slate-600 rounded-full"></div>
          <p class="text-slate-800 font-light">{{items}}</p>
        </div>
        <div *ngFor="let items of room.amenities.outdoor" class="flex items-center gap-5">
          <div class="size-8 bg-slate-600 rounded-full"></div>
          <p class="text-slate-800 font-light">{{items}}</p>
        </div>
      </div>
      <div class="mt-5">
        <button class="py-2 text-center w-full border border-gray-700 rounded-lg">
          Show all amenities
        </button>
      </div>
    </div>
    <!-- section7 -->
    <div  class="py-6 px-5 xl:px-0 border-b border-slate-200">
      <h2 class="text-2xl font-medium mb-5">Where you will be</h2>
      <div class="w-full h-44 bg-slate-600 rounded-lg"></div>
      <div class="space-y-3 mt-5">
        <div>
          <p class="font-semibold">{{room.location}}</p>
          <p class="font-normal text-slate-600 text-sm">{{room.layout}}</p>
        </div>
        
        <p class="line-clamp-3 text-slate-500">
          {{room.description}} {{room.additionalInfo}} 
        </p>
        <p class="underline">See more</p>
      </div>
    </div>
    <!-- section8 -->
    <div  class="py-6 px-5 xl:px-0 border-b border-slate-200">
       <h3 class="text-xl font-medium">{{room.availability.bookedDates.length}} nights in Ytteran</h3>
       <p class="mt-1 font-light text-slate-700 text-sm">{{formatDates(room.availability.bookedDates[0])}} - {{formatDates(room.availability.bookedDates[room.availability.bookedDates.length - 1])}}</p>
       <div class="mt-5">
        <div class="flex justify-between items-start gap-10">
          <div class="xl:w-1/2 w-full">
            <div class="flex ml-[3%] items-center gap-10">
              <div class="size-5 flex items-center justify-center">
                <img src="../../assets/images/backicon.png" />
              </div>
              <p class="text-base font-normal text-slate-700"> {{formatDates(room.availability.bookedDates[0]).split(" ")[0] }} 2024</p>
            </div>  
            <div class="flex w-full justify-betwee">
              @for (days of ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"]; track days) {
                <div class="w-[14%] aspect-square flex items-center justify-center text-slate-700 font-normal text-sm bg-red-40" >{{days}}</div>
              }
            </div>
            <div class="flex flex-wrap w-full justify-betwee">
              @for (dates of generateDates(formatDates(room.availability.bookedDates[0]).split(" ")[0].slice(0,3)) ; track dates) {
                <div [ngClass]="{'text-slate-900 font-medium hover:border-black cursor-pointer': generateDaysArray(room.availability.bookedDates).includes(dates), 'bg-slate-900 text-white cursor-pointer': [generateDaysArray(room.availability.bookedDates)[0], generateDaysArray(room.availability.bookedDates)[room.availability.bookedDates.length - 1]].includes(dates)}" class="group transition-all relative w-[14%] aspect-square text-slate-400 font-light text-sm rounded-full border-2 border-transparent flex items-center justify-center">
                  <div *ngIf="dates === generateDaysArray(room.availability.bookedDates)[0] " class="absolute transition-all z-20 w-24 font-normal text-black text-xs bg-white p-2 bottom-[110%] hidden border rounded-sm group-hover:block"><p class="text-center">Check-in day</p></div>
                  <div *ngIf="dates === generateDaysArray(room.availability.bookedDates)[room.availability.bookedDates.length - 1] " class="absolute transition-all z-20 w-24 font-normal text-black text-xs bg-white p-2 bottom-[110%] hidden border rounded-sm group-hover:block"><p class="text-center">Check-out day</p></div>
                  <div *ngIf="!generateDaysArray(room.availability.bookedDates).includes(dates)" class="h-full w-full absolute z-10 flex items-center justify-center">
                    <div class="w-[40%] mx-auto h-[1px] bg-slate-400"></div>
                  </div>
                  {{dates}}
                </div>
              }
            </div>
          </div>
          <div class="w-1/2 hidden xl:block">
            <div class="flex mr-[3%] items-center justify-end gap-10">
             
              <p class="text-base font-normal text-slate-700">May 2024</p>
              <div class="size-5 flex items-center justify-center rotate-180">
                <img src="../../assets/images/backicon.png" />
              </div>
            </div>
            <div class="flex w-full justify-betwee">
              @for (days of ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"]; track days) {
                <div class="w-[14%] aspect-square flex items-center justify-center text-slate-700 font-normal text-sm bg-red-40" >{{days}}</div>
              }
            </div>
            <div class="flex flex-wrap w-full justify-betwee">
              @for (dates of generateDates("May") ; track dates) {
                <div class="group transition-all relative w-[14%] aspect-square text-slate-400 font-light text-sm rounded-full border-2 border-transparent flex items-center justify-center">
                  <div class="h-full w-full absolute z-10 flex items-center justify-center">
                    <div class="w-[40%] mx-auto h-[1px] bg-slate-400"></div>
                  </div>
                  {{dates}}
                </div>
              }
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>

 

    <!-- 2nd part -->
    <!-- guest date -->
    <div class="hidden px-6 py-8 xl:flex w-[35%] bg-red-40 sticky z-20 top-80 justify-center">
      <div [ngClass]="{'sticky top-24 z-20': secHeader}" class="h-[40rem] mx-auto bg-green-40 rounded-2xl">
        <div class="w-[23rem] rounded-lg p-5 space-y-5 border border-gray-200 shadow-md shadow-slate-300">
          <p class="font-normal"> <span class="font-medium text-xl">${{room.pricing.priceBeforeTax.slice(1)}}</span> night</p>
          <div class="rounded-lg border border-gray-400">
            <div (click)="_pickDates($event, true)" class="relative peer flex box-border border-2 hover:border-black border-transparent rounded-lg">
              <div *ngIf="pickDates" class="absolute z-50 -top-5 -right-10 w-[40rem] h-[25rem] bg-white border border-slate-300 shadow-md shadow-slate-300 rounded-xl px-10 py-4">
                <div class="flex justify-between">
                  <div class="bg-red-400"></div>
                  <div class="relative peer flex border border-gray-400 rounded-lg w-80">
                    <div class="w-1/2 flex justify-between items-center p-2 border-2 border-black rounded-lg">
                      <div class="w-[90%]">
                        <p class="text-[10px]">CHECK-IN</p>
                        <div>
                          <input class="outline-none w-full" />
                        </div>
                      </div>
                      <div class="w-[10%]">x</div>
                    </div>
                    <div class="w-1/2 flex justify-between items-center p-2 border-gray-400">
                      <div class="w-[90%]">
                        <p class="text-[10px]">CHECK-OUT</p>
                        <div>
                          <input class="outline-none w-full" />
                        </div>
                      </div>
                      <div class="w-[10%]">x</div>
                    </div>
                  </div>
                </div>

                <div  (click)="_pickDates($event, false)" class="p-5 mt-40 size-20 bg-red-500 text-white">close</div>
              </div>
              <div class="w-1/2 p-2 border-r border-gray-400">
                <p class="text-[10px]">CHECK-IN</p>
                <p class="text-sm">4/9/2024</p>
              </div>
              <div class="w-1/2 p-2">
                <p class="text-[10px]">CHECK-OUT</p>
                <p class="text-sm">4/9/2024</p>
              </div>
            </div>
            <div class="flex justify-between items-center p-2 border-t border-gray-400 peer-hover:border-transparent">
              <div class="flex flex-col items-start justify-center">
                <p class="text-[10px]">GUESTS</p>
                <p class="text-sm">1 guest</p>
              </div>
              <div class="size-5 bg-red-400"></div>
            </div>
          </div>
          <div>
            <button class="h-12 w-full rounded-md bg-[#FF385C] text-white">Reserve</button>
          </div>
          <p class="font-light text-sm text-center">You won't be charged yet</p>
          <div class="flex justify-between font-light">
            <div class="underline">${{room.pricing.priceBeforeTax.slice(1)}} X {{room.availability.bookedDates.length}} nights</div>
            <div>${{ ((_parseInt(room.pricing.priceBeforeTax.slice(1)) * room.availability.bookedDates.length) + _parseInt(room.pricing.cleaningFee.slice(1) ) ).toLocaleString("en-GB") }}</div>
          </div>
          <div class="flex justify-between font-medium text-gray-800 pt-5 border-t">
            <div class="">Total before taxes</div>
            <div>${{ (_parseInt(room.pricing.priceBeforeTax.slice(1)) * room.availability.bookedDates.length ).toLocaleString("en-GB") }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
